* {
  box-sizing: border-box;
}

.block__header {
  z-index: 10;
  position: fixed;
  width: 100%;
  font-size: 10px;
  color: white;
  border: 1px solid black;
  height: 50px;
  background-color: blue;
}

.container {
  display: flex;
}

.block__links {
  position: fixed;
  top: 55px;
  border: 2px solid blue;
  padding: 10px;
  margin-bottom: 10px;
  width: 200px;
  height: 200px;
  z-index: 10;
}
.block__sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 50px;
  margin-bottom: 10px;
}

.block__sidebar div {
  position: relative;
}

.block__sidebar div a:before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  transform: translate(50%, 50%);
  background-color: blue;
  left: -25px;
  border-radius: 100%;
}
a {
  text-align: left;
  font-size: 10px;
  color: orangered;
}
.block__list {
  position: fixed;
  border: 2px solid blue;
  height: 100%;
  margin-top: 250px;
  width: 700px;
  left: 250px;
  top: -200px;
  overflow-y: scroll;
}
.block__sticky {
  width: 100%;
  position: sticky;
  top: 0;
  border: 2px solid black;
  background: blue;
}
