* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h1 {
  width: 100%;
  height: 100px;
  background-color: rgb(224, 210, 210);
  text-align: center;
}
h2 {
  width: 100%;
  height: 100px;
  background-color: rgb(224, 210, 210);
  text-align: center;
}


.card-container {
height: 100vh;
width: 100vw;
max-height: 800px;
max-width: 1280px;
min-height: 600px;
min-width: 1000px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: flex-start;
margin: 0 auto;


}

 .card-inner-container {
    display: flex;
    position: relative;
    flex-direction: column;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
     max-width: 200px;
     /* Ограничение ширины */
     margin: auto;
     text-align: center;
     font-family: sans-serif;
     padding-bottom: 20px;
     align-items: center;
 }
 img {

   width: 100%;

 }
 h3 {
   color: #7c4dff;
 }
  p {
    padding: 4px;
    font-size: 14px;
    color: #757575;
  }
  .price {
    color: #d32f2f;
    font-size: 18px;
      
  }

 
  .card button {
     border: none;
     outline: 0;
     padding: 10px;
     color: #fff;
     background-color: #f44336;
     text-align: center;
     cursor: pointer;
     width: 100%;
     font-size: 18px;
    margin-top: auto;
  }